{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/api.css' %}">
    <link rel="stylesheet" href="{% static 'css/calculator.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.11/jquery.autocomplete.min.js"></script>
    <script src="{% static 'js/api.js'%}"></script>
</head>
<body>
    <div class="form-container">
        <h2>Carbon Footprint Per Trip</h2>
        <form id="distance-form" method="post" action="{% url 'store_distance_data' %}">
            {% csrf_token %}
            <label for="source">Source</label>
            <input type="text" id="search-box-source" name="source" placeholder="Source" required />
            <label for="destination">Destination</label>
            <input type="text" id="search-box-destination" name="destination" placeholder="Destination" required />
            <label for="date">Date</label>
            <input type="date" id="date" name="date" placeholder="Date (YYYY-MM-DD)" required />
            <label for="time-taken">Time Taken</label>
            <input type="text" id="time-taken" name="time_taken" placeholder="Time In Minutes" required />
            <label for="mode-of-transport">Mode Of Travel</label>
            <select id="mode-of-transport" name="mode_of_transport" required>
                <option value="">Select Mode</option>
                <option value="bus">Bus</option>
                <option value="train">Train</option>
                <option value="metro">Metro</option>
                <option value="car">Car</option>
                <option value ="rickshaw">Rickshaw</option>
                <option value="bike">Bike</option>
                <option value = "scooter">Activa/Scooter</option>
                <option value="bicycle">Bicycle</option>
                <option value="walk">Walk</option>
            </select>
            <div class="radio-group">
                <label for="is_electric">Is the transport electric?</label>
                <input type="radio" id="is_electric_yes" name="is_electric" value="yes" required>
                <label for="is_electric_yes">Yes</label>
                <input type="radio" id="is_electric_no" name="is_electric" value="no" required>
                <label for="is_electric_no">No</label>
            </div>
            <button type="submit" id="store-button">Submit</button>
        </form>
        {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    </div>
    <script>
        const storeDistanceDataUrl = "{% url 'store_distance_data' %}";
    </script>
</body>
</html>
